$base-color: lightblue

.sig-item
    display: flex
    flex-direction: row
    flex-wrap: wrap
    flex: 1
    background-color: lighten($base-color,20%)
    justify-content: space-around
    align-items: baseline

.sig-item
    p
        flex: inherit
        
