<div class="sig-item">
  <p>{{signatory.id}}</p>
  <p>{{signatory.name}}</p>
  <p>{{signatory.email}}</p>
  <p>{{signatory.status}}</p>
  <p>{{sigIconString}}</p>
  <p>{{signatory.comment}}</p>
  <p>{{signatory.commentDate | date}}</p>
  <button (onClick)="onAccept.emit(signatory)">Accept</button>
  <button (onClick)="onReject.emit(signatory)">Reject</button>
  <button *ngIf="isApprovalInitiatorLoggedIn && loggedInUserId !=signatory.id" (onClick)="resendEmail.emit(signatory)">Send Reminder</button>
</div>